h1 Register A User

form(method="post", action="/register")

	include ../partials/user_info
	
	include ../partials/permissions

	include ../partials/disciplines

	include ../partials/teams
	
	input(type="submit", value="Save")