header
	nav#main-nav
		ul
			li
				a(href="/") Home
			li
				a(href="/login") Log in
			li
				a(href="/logout") Log out
			li
				a(href="/register") Register a user
	- if (typeof flash != "undefined")
		section#flash
			h1 Flashdata
			- if (typeof flash.error != "undefined")
				ul.error
					each error in flash.error
						li
							#{error}				
	
			- if (typeof flash.message != "undefined")
				ul.message
					each message in flash.message
						li
							#{message}				
