header
	nav#main-nav
		ul
			- if (session.auth)
				li
					a(href="/") Home
				li
					a(href="/register") Register a user
				li
					a(href="/directory") Staff Directory
	
			- else
				li
					a(href="/login") Log in
	
	- if (session.auth)
		section.user-info
			section.logged-in-as
				| Logged in as #{session.auth.first_name}&nbsp#{session.auth.last_name}
				a(href="/me") My Profile
				| &nbsp;
				a(href="/logout") Log out
				

	- if (typeof flash != "undefined")
		section#flash
			h1 Flashdata
			- if (typeof flash.error != "undefined")
				ul.error
					each error in flash.error
						li
							#{error}				
	
			- if (typeof flash.message != "undefined")
				ul.message
					each message in flash.message
						li
							#{message}				
