header
	nav#main-nav
		ul
			li
				a(href="/login") Log in
			li
				a(href="/logout") Log out
			li
				a(href="/register") Register a user
	section#flash
		h1 Flashdata
		ul
		for value,key in flash
			li
				#{key} :: #{value}				
