fieldset
	
	legend User Permissions

	label(for="permissions[login]") Login
	input(type="checkbox", name="permissions[login]")
	
	label(for="permissions[post]") Post
	input(type="checkbox", name="permissions[post]")
	
	label(for="permissions[register_users]") Register Users
	input(type="checkbox", name="permissions[register_users]")

	label(for="permissions[view_staff]") View Staff Directory
	input(type="checkbox", name="permissions[view_staff]")
