fieldset
	
	legend User Info

	label(for="email") Email
	input(type="text", name="email")

	label(for="first_name") First Name
	input(type="text", name="first_name")

	label(for="last_name") Last Name
	input(type="text", name="last_name")

	label(for="password") Password
	input(type="password", name="password")

	label(for="password_confirm") Password Confirm
	input(type="password", name="password_confirm")
	