!!! 5
html
	head
		title Area52
		link(rel='stylesheet', href='/stylesheets/css/style.css')
	body
		
		include /partials/header
		
		section#wrapper
			section#content!=body

		include /partials/footer