@import "reset.less";

@body_width: 960px;
@font_family: Helvetica, sans-serif;
// Colors


body {
	background-color: #e5e5e5;
	font-family: @font_family;
	text-align: center;
	text-shadow: 0px 1px 1px #fff;
	
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

h1 {
	font-size: 3em;
	margin: .5em 0;
}

body > header,
body > footer,
#wrapper {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: @body_width;
}

body > header {
	margin-bottom: 3em;
	margin-top: 3em;
}

body > footer {
	margin-bottom: 3em;
	margin-top: 3em;
}

@import "sessions.less";

@import "forms.less";

@import "staff.less";